/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}

.container{
    position: absolute;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 25px rgb(255, 255, 255);

}

.container:hover{
    box-shadow: 0 0 10px red;
    transition: 0.1ms;
}
.container i{
    position: absolute;
    inset: 0;
    border: 2px solid #ffffff;
    
}

.container:hover i:nth-child(1){
    border-radius:47% 53% 43% 57% / 60% 54% 46% 40% ;
    animation: animate 6s linear infinite;
}
.container:hover i:nth-child(2){
    border-radius: 59% 41% 48% 52% / 60% 30% 70% 40%   ;
    animation: animate 4s linear infinite;

}
.container:hover i:nth-child(3){
    border-radius: 32% 68% 35% 65% / 54% 49% 51% 46% ;
    animation: animate2 10s linear infinite;

}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.container:hover i{
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 30px var(--clr));
    transition: 0.5s;
}

.container .login{
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.container .login h2{
    font-size: 2em;
    color: #ffffff;
}

.container .login .inputBx{
    position: relative;
    width: 100%;
}

.container .login .inputBx input{
    position: relative;
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;
}
.container .login .inputBx input::placeholder{
    color: rgba(255, 255, 255, 0.75);
}

.container .login .inputBx input[type="submit"]{
    background: linear-gradient(45deg,#ff357a,#fff172);
    border: none;
    cursor: pointer;
    font-size: 1.2em;

}

.container .login .links{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.container .login .links a{
    color: #fff;
    text-decoration: none;
}